@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;

@tailwind components;
@tailwind utilities;

:root {
  --background: #fafafa;
  --foreground: #0a0a0a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.main {
  width: 100vw;
  min-height: 100vh;
  position: fixed;
  display: flex;
  justify-content: center;
  padding: 120px 24px 160px 24px;
  pointer-events: none;
}

.main:before {
  background: radial-gradient(circle, rgba(2, 0, 36, 0) 0, #fafafa 100%);
  position: absolute;
  content: "";
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
}

@media screen and (max-width: 640px) {
  .main {
    padding: 0;
  }
}

.app {
  @apply relative z-10 flex justify-center items-center flex-col mx-auto sm:px-16 px-6;
}

.btn {
  @apply  text-white font-bold py-2 px-4 rounded;
  &.primary {
    @apply bg-blue-500 hover:bg-blue-700;
  }
  &.secondary {
    @apply bg-gray-500 hover:bg-gray-700;
  }
  &.pill{
    @apply rounded-full;
  }
  
  &.disabled {
    @apply bg-gray-400 cursor-not-allowed;
  }
}
